
<div class="area">
  <div style="margin-left:5% ;">

    <nav class="navbar navbar-light bg-light">

      <h1 class="navbar-brand " href="#">

        <i class="fa fa-home fa-2x">Home</i>

      </h1>

    </nav>

    <div style="margin-left:15% ;" >

      <h1>Formations disponibles</h1>

      <div class="card" >

        <div class="container"  >

          

          <h3 ><b>{{format}}</b></h3>

          <p style="color:grey">The course is focused on training engineers to architect their applications using AWS cloud technologies</p>



          <button type="button" style=" background-color: #53af57;

          color: white;

          padding: 14px 20px;

          margin: 8px 0;

          border: none;

          cursor: pointer;

          width: 100%;">

          <a routerLink="/formation">Program Home</a>

               </button>

        </div>

      </div>

    </div>

   </div>
</div>
<div>
 <nav class="main-menu">

          <ul>
              <li>
                  <a routerLink="acceuil">
                      <i class="fa fa-home fa-2x"></i>
                      <span class="nav-text ">
                        Home
                      </span>
                  </a>
              </li>
              <li class="has-subnav">
                  <a routerLink="/">
                      <i class="fa fa-laptop fa-2x"></i>
                      <span class="nav-text">
                          Catalogue
                      </span>
                  </a>            
              </li>             
          </ul>
          <ul class="logout">
            <li>
             <a routerLink="/settings">
                    <i class="fa fa-cogs fa-2x"></i>
                  <span class="nav-text">
                      Paramètres
                  </span>
              </a>
          </li>
              <li>    
                <a routerLink="/login" routerLinkActive="active">
                      <i class="fa fa-power-off fa-2x"></i>
                      <span class="nav-text">
                          Se déconnecter
                      </span>
                      
                  </a>
              </li>  
          </ul>
      </nav>
    </div>

         <!-- la div à droite du nav  -->

      <!-- <div style="margin-left:5% ;">

          <nav class="navbar navbar-light bg-light">

            <h1 class="navbar-brand " href="#">

              <i class="fa fa-home fa-2x">Home</i>

            </h1>

          </nav>

          <div style="margin-left:15% ;">

            <h1>Formations disponibles</h1>

            <div class="card">

              <div class="container">

                  <h4>

                      <img src="https://cdn-icons-png.flaticon.com/512/1456/1456542.png" height=20>

                      <span style="color:#202020">NANODEGREE PROGRAM </span>

                  </h4>

                <h3><b>AWS Cloud Architect</b></h3>

                <p style="color:grey">The course is focused on training engineers to architect their applications using AWS cloud technologies</p>

 

                <button type="button" style=" background-color: #53af57;

                color: white;

                padding: 14px 20px;

                margin: 8px 0;

                border: none;

                cursor: pointer;

                width: 100%;">

                <a   routerLink="/program">Program Home</a>

                     </button>

              </div>

            </div>

          </div>

         </div> -->  
