<!-- 
<div  *ngFor="let x of cours; let i = index" [attr.data-index]="i">
   {{x}}

</div> -->


 <!-- <div [innerHTML]="<iframe allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="ND063 C3 Instructor Interview" src="https://www.youtube.com/embed/HaQfAcz3FPw?showinfo=0&amp;rel=0&amp;autohide=1&amp;vq=hd720&amp;hl=en-us&amp;cc_load_policy=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fclassroom.udacity.com&amp;widgetid=15" id="widget16" width="640" height="360" frameborder="0"></iframe>" >
  
</div>  -->
<!-- <div>
   {{cours}}
</div> -->


<div [innerHTML] = "cours"></div>


